<div class="row panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= comment.name %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= comment.body %>
    </p>
  </div>
</div>
