<div class='articles'>
  <% @articles.each do |article| %>
  <article class='article'>
    <header><%= link_to article.title, article %></header>
    <small class="metadata">
      Created At <%= article.created_at %>
    </small>
    <hr />
    <summary><%= markdown(article.body).html_safe %></summary>
  </article>
  <hr />
  <% end %>
</div>
