<div class='articles'>
  <% @articles.each do |article| %>
    <%= render article %>
  <hr />
  <% end %>
</div>
<div id="infinite-scrolling">
  <%= paginate @articles, :theme => 'twitter-bootstrap-3' %>
</div>
